section {
    display: flex;
    flex-direction: column; /*empile texte 1 sur l'autre*/
    align-items: center; /* Centre horizontalement */
    justify-content: center; /* Centre verticalement */
    height: 100vh; /* Prend toute la hauteur de la page */
    text-align: center; /* Centre le texte */
}


h1 {
    margin: 10px 0; /* espacement entre les 2 titres */
}

h1:first-of-type{
    font-size: 2.5rem;
    color: white;
}

h1:nth-of-type(2){
    font-size: 4rem;
    background: linear-gradient(80deg, #915FDF, #b408ae);
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

p {
    color: white;
    max-width: 50%; /* pour limiter largeur paragraphe */
    font-size: 1.2rem;
    font-style: italic;
}