.timelineCard {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(12px);
}

.description {
  font-size: 0.8rem;
}
