.footer {
  padding: 2rem;
  z-index: 1;
}

.icons {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.icon {
  font-size: 1.5rem;
  color: white;
  transition: transform 0.2s, color 0.2s;
}

.icon:hover {
  color: #780cfc;
  transform: scale(1.1);
}

.mentions {
  display: block;
  margin-bottom: 1rem;
  text-align: right;
  font-size: 0.9rem;
  text-decoration: none;
}

.mentions:hover {
  text-decoration: underline;
}

.separator {
  border: 0;
  height: 1px;
  background: #444;
  margin: 1rem 0;
}

.copyright {
  font-size: 0.9rem;
  margin: 0;
  text-align: start;
}
