.hero {
    display: grid;
    place-items: center; /* Centre horizontalement */
    min-height: 100vh; /* Prend toute la hauteur de la page */
    text-align: center; /* Centre le texte */
    position: relative;
    max-width: 100vw;
    overflow-x: clip; /*cut la shape*/
}

.hero .content {
    display: grid;
    place-items: center; /* Centre horizontalement */
    gap: 1.25rem;
}

.hero .container {
    z-index: 1;
    display: grid;
    place-items: center; /* Centre horizontalement */
    gap: 4rem;
    padding: 10vh 5vw;
}

.hero h1 {
    color: #915FDF;
}

.hero h2{
    font-size: 2.5rem;
    line-height: 1;
}


.hero p {
    color: #D6D6D6;
    max-width: 700px; /* pour limiter largeur paragraphe */
    font-size: 1rem;
    font-style: italic;
}

.buttonContainer {
    display: flex;
    gap: 2rem;
}

.shape {
    position: absolute;
    opacity: 0.7;
}

.shapeOne {
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

.shapeTwo {
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
}
