.section {
  text-align: center;
}
.section h2 {
  padding-bottom: 4rem;}

.timeline {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background: rgb(255, 255, 255);
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0.2;
}

.timeline ul {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.timelineItem {
  position: relative;
  z-index: 2;
  width: calc(50% - 100px);
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.left {
  align-self: flex-start;
  text-align: right;
}

.right {
  align-self: flex-end;
  text-align: left;
}

.timelineItem::before {
  content: attr(data-index);
  font-size: large;
  width: 80px;
  height: 80px;
  background-image: linear-gradient(to bottom right, #f51eee, #915FDF);
  box-shadow: 0 0 30px rgba(227, 228, 237, 0.37);
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  top: 50%;
}

.left::before {
  right: -100px;
  transform: translate(50%, -50%);
}

.right::before {
  left: -100px;
  transform: translate(-50%, -50%);
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 768px) {
  .timeline ul {
    gap: 1.5rem;
  }
  .timeline::before
  {  
    left: unset;
    right: 10%;
    transform: translateX(-50%);
  }
  .timelineItem {
    width: 100%;
    padding-right: 50px;
    text-align: left;
  }

  .timelineItem::before {
    left: unset;
    right: 0px;
    transform: translate(50%, -50%) scale(.75);
  }

  .left, .right {
    text-align: left;
  }
}