.card {
  border-radius: 16px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.225);
  background: rgba(255, 255, 255, 0.047); 
  backdrop-filter: blur(12px);
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.148);
}